<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "user.name" />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email </label>
        <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "user.email" />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Phone Number </label>
        <input type="text" class="form-control" formControlName="phoneNumber" #phoneNumber [(ngModel)] = "user.phoneNumber" />
      </div>
      <div *ngIf="angForm.controls['phoneNumber'].invalid && (angForm.controls['phoneNumber'].dirty || angForm.controls['phoneNumber'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['phoneNumber'].errors.required">
          Phone Number is required.
        </div>
      </div>
	  <div class="form-group">
        <label class="col-md-4">Address </label>
        <input type="text" class="form-control" formControlName="address" #address [(ngModel)] = "user.address" />
      </div>
      <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['address'].errors.required">
          Address is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateUser(name.value, email.value, phoneNumber.value,address.value)"
        [disabled]="angForm.invalid" 
        class="btn btn-primary">Update User</button>
      </div>
    </form>
  </div>
</div>